body{
    font-family: Arial;
    padding: 0px 20px 20px 20px;
    background: #f1f1f1;
}
header{
    background-color: lightgreen;
    padding: 30px 10px;
    /*width: 500px;
    height: 120px;*/
}
*{
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    /*width: 33.33%;*/
    padding: 10px;
   /* height: 300px; /* Should be removed. Only for demonstration */
}

/*
#Lcol{
    width: 50%;
}*/

#Mcol{
    /*width: 25%;*/
    padding-top: 30px;
}

/*
#Rcol{
    width: 25%;
}
*/

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*The part with the blue border
How can I make it smaller on the right side?
Success with lowering the width! */
#left{
    border: 2px solid blue;
    border-radius: 5px;
    width: 400px;
    height: 120px;
    padding: 10px;
    float: none;

}

#date{
    float: left;
    width: 50px;
    color: purple;
    text-align: center;
    padding-left: 10px;
    margin-right: 75px;
}

#quote{
    float: left;
    color: blue;
    font-weight: bold;
    font-size: larger;
    padding-top: 0px;
    padding-bottom: 0%;
    margin-bottom: 0px;
}

#wenk{
    float: left;
    color: green;
    /*width: 245px; it works inline but not here?*/
}

#right{
    float: right;
    
}
#title{
    color: rgb(223, 5, 150);
    font-weight: bold;
    font-size: 50px;
}
nav{
    float: right;
    font-weight: bold;
    padding-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}
a{
    text-decoration: none;
}
.stripe{
    color: blue;
}
.content{
    margin-top: 75px;
}

#artikel{
    border: 5px solid lightgreen;
    border-radius: 5px;
}

#artikel2{
    border: 5px solid lightgreen;
    border-radius: 5px;
}

.error{
    color: red;
}

.success{
    color: green;
}
